<div class="top">
    <h4>Add new Employee</h4>

    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form #form="ngForm" (submit)="onSubmit(form)" class="form-data">
  
    <input hidden name="deptId" #deptId="ngModel" [(ngModel)]="service.formData.department.id">

    <mat-form-field class="form-full-width">
        <input 
            matInput 
            placeholder="Employee Name"
            name="name"
            required
            #name="ngModel"
            [(ngModel)]="service.formData.name">
    </mat-form-field>

    <mat-form-field class="form-full-width">
        <input 
            matInput 
            type="email"
            placeholder="Email Address"
            name="email_address"
            #email_address="ngModel"
            required
            [(ngModel)]="service.formData.email_address">
    </mat-form-field>

    <mat-form-field class="form-full-width">
        <mat-label>Department</mat-label>
        <mat-select #id="ngModel" name="id" required [(ngModel)]="service.formData.department.id">
            <mat-option *ngFor="let dl of deptListItems" [value]="dl.id">
            {{dl.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

      <mat-form-field class="form-full-width">
        <input matInput [matDatepicker]="myDatepicker" name="doj" #doj="ngModel" required [(ngModel)]="service.formData.doj" placeholder="Date of Join">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Add Employee
    </button>
  </form>